<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(adminer\.php) - [L]
    RewriteRule ^(download\.php) - [L]
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]
 </IfModule>
